@import './config.scss';

  body {
    // background: url('../Images/BgLayer.svg') no-repeat #222021!important;
    background-size: cover;
    line-height: 1.2 !important;
    letter-spacing: 0.015em !important;
    font-family: $primaryFont !important;
    background-color: #222021;
    background-size: cover;
    color: $white;
    overflow-y: auto;
  }

  h1{
    font-family: $primaryFont !important;
    font-size: 4em;
  }
  p{
    font-family: $secondaryFont !important;
  }